annotated-types==0.7.0
black==24.3.0
blinker==1.8.2
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
Deprecated==1.2.14
distlib==0.3.6
ecdsa==0.19.0
filelock==3.9.0
Flask==3.0.3
future==1.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==0.4.3
Naked==0.1.32
ordereddict==1.1
pathspec==0.9.0
pipenv==2023.2.18
platformdirs==2.5.2
pyasn1==0.6.0
pycparser==2.22
pycrypto==2.6.1
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.9.0
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
shellescape==3.8.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
virtualenv==20.20.0
virtualenv-clone==0.5.7
vonage==3.16.1
vonage-jwt==1.1.1
vonage-utils==1.1.2
Werkzeug==3.0.3
wrapt==1.16.0
