click==7.0
ecdsa==0.13
Flask==1.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Naked==0.1.31
nexmo==2.3.0
ordereddict==1.1
pycrypto==2.6.1
python-jose==3.0.1
PyYAML==3.13
requests==2.19.1
shellescape==3.4.1
six==1.11.0
Werkzeug==0.14.1
python-dotenv==0.9.1
